/* Propriété CSS d'ordre général */

/* Importation des polices de caractères */

@font-face { 
    font-family: Inter ;
    src: url('./fonts/Inter/static/Inter-ExtraLight.ttf');
}

@font-face {
    font-family: Sacramento ;
    src: url('./fonts/Sacramento/Sacramento-Regular.ttf');
}

/* une propriété CSS qui permet d'avoir un défilement vertical en douceur*/

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajout d'un dégradé de couleur à l'élément body à l'aide du site CSS Gradient */

body{
    width: 100%;
    height: 100%;
    background: rgb(3,14,32);
    background: -moz-linear-gradient(180deg, rgba(3,14,32,1) 20%, rgba(31,10,69,1) 40%, rgba(33,14,69,1) 57%, rgba(44,23,82,1) 70%, rgba(88,62,134,1) 85%);
    background: -webkit-linear-gradient(180deg, rgba(3,14,32,1) 20%, rgba(31,10,69,1) 40%, rgba(33,14,69,1) 57%, rgba(44,23,82,1) 70%, rgba(88,62,134,1) 85%);
    background: linear-gradient(180deg, rgba(3,14,32,1) 20%, rgba(31,10,69,1) 40%, rgba(33,14,69,1) 57%, rgba(44,23,82,1) 70%, rgba(88,62,134,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030e20",endColorstr="#583e86",GradientType=1); 
    
}

/* HEADER */

header{
    width: 100%;
    height: 10vh;
    background-color: #1c033d;
    display: flex;
    align-items: center;
}

header nav{
    width: 70%;
    margin: 0 auto;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul a{
    text-decoration: none;
    font-size: 20px;
    font-family: Inter;
    text-shadow: 0 0 20px;
    text-transform: uppercase;
    color: white;
}

header nav ul a:hover{
    color: rgba(248, 180, 7, 0.931);
}

header nav ul a li{
list-style: none;
}

/* MAIN */

main{
    width: 100%;
    height: 100%;
}


/* HOME */

#home{
    width: 100%;
    height: 100vh;
}

/* Ajout de l'image de fond ainsi que l'utilisation d'un conteneur en display flex, afin d'organiser mes éléments */

.container-home{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    background-image: url('./images/home_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;

}

/* Je lui attribue l'ordre 2 afin qu'il se retrouve positionné au milieu du conteneur */

.name{
    order: 2;
    width: 30%;
  
}

.name, h1, h2{
    font-family: Inter;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 15px;
    text-align: center;
    margin: 3.5%;
}

.story{
    order: 1;
    margin: 10% auto;
    width: 25%;
}

.story h3{
    color: white;
    text-align: center;
    font-family: Sacramento;
    font-size: 40px;
    text-shadow: 0 0 15px;
}

.story p{
    color: white;
    text-align: center;
    text-shadow: 0 0 10px;
    font-family: Inter;
    font-size: 25px;
    margin: 5%;
}

.ambitions{
    order: 3;
    margin: 10% auto;
    width: 25%;
}

.ambitions h3{
    color: white;
    text-align: center;
    font-family: Sacramento;
    font-size: 40px;
    text-shadow: 0 0 15px;
}

.ambitions p{
    color: white;
    text-align: center;
    text-shadow: 0 0 10px;
    font-family: Inter;
    font-size: 25px;
    margin: 5%;
}

/* CV */

#cv{
  width:100%;
  height: 90vh;
}

.container-cv{
    display: flex;
    justify-content:center;
    margin: 10% auto;
}

/* PROJECTS */

#projects{
    width: 60%;
    height: 80vh;
    margin: 15% auto;
    
}

#projects h4{
    font-family: Sacramento;
    font-size: 45px;
    color: white;
    text-shadow: 0 0 15px;
    text-align: center;
    margin: 2%;
}

.container-box1{
    display: flex;
    justify-content:space-around;
}

.box1, .box2, .box3{
    width: 250px;
    height: 250px;
    margin: 10% auto;
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 0 20px rgb(141, 31, 141);
    border: 1px solid black;
}

.container-box2{
    display: flex;
    justify-content: space-around;
}

.box4, .box5, .box6{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

/* SKILLS */

#skills{
    width: 60%;
    height: 30vh;
    margin: 20% auto;
}

#skills h4{
    font-family: Sacramento;
    font-size: 45px;
    color: white;
    text-shadow: 0 0 15px;
    text-align: center;
}

.container-skills{
    display: flex;
    justify-content: space-around;
    margin: 10% auto;
}

.container-skills img{
    margin: 5%;
}


/* ABOUT ME */

#about_me{
    width: 60%;
    height: 50vh;
    margin: 15% auto;
}

#about_me h5{
    font-family: Sacramento;
    font-size: 45px;
    color: white;
    text-shadow: 0 0 15px;
    text-align: center;
    margin: 1%;
}

#about_me img{
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
    border: 1px solid;
    margin: 8% auto;
}

#about_me p{
    color: white;
    text-align: center;
    text-shadow: 0 0 10px;
    font-family: Inter;
    font-size: 25px;
    margin: 1%
}

/* CONTACT */

#contact{
    width: 70%;
    height: 40vh;
    margin: 10% auto;
}

#contact h5{
    font-family: Sacramento;
    font-size: 45px;
    color: white;
    text-shadow: 0 0 15px;
    text-align: center;
    margin: 10%;
}

.container-contact{
    display: flex;
    justify-content: space-around;
}

.phone img{
    display: block;
    margin: 0 auto;
}

.phone p{
    font-size: 20px;
    font-family: Inter;
    color: white;
    text-shadow: 0 0 5px;
    margin-top: 15%;
}
